@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;

  /* @apply bg-white dark:bg-gray-950; */

  @media (prefers-color-scheme: white) {
    color-scheme: white;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

}
